/* src/App.css */
.App {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 10px;
}

.navigation a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}

.navigation a.active {
  font-weight: bold;
  color: green;
  border-bottom: 5px solid green;
}

.page-content {
  padding: 20px;
}

.row{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  height: 11.3125rem;
}

.card h2 {
  margin: 0;
  font-size: 1.1rem;
  padding: 1rem;
  text-align: left;
}

.card:hover {
  transform: translateY(-10px);
}

@media (min-width: 576px) {
  .row {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .row {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .row {
      grid-template-columns: repeat(4, 1fr);
  }
}